<!DOCTYPE html>
<html>
<head>
    <title>Photo List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-3bFKfa4JJ/oFWR0IFzI3PFtSV/h2SG/gGevaz+MMZZi4IweI49+GzYUj/+34emYr" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h2>Mes annonces</h2>
        <div class="nav-links">
            <a href="/upload_photo">Ajouter une annonce</a>
            <a href="/">Home</a>
            <a href="/profile">Compte</a>
            
            
        </div>
    </div>
    <ul>
    {% for annonce in annonces %}
        <li>
            <h3>Titre : {{ annonce.title }}</h3>
            <p>Description: {{ annonce.description }}</p>
            <div>
                {% for image in annonce.uploadimage_set.all %}
                    <div class="image-container">
                        <a href="{{ image.image.url }}" target="_blank"> <!-- Lien vers l'image en plein écran -->
                            <img src="{{ image.image.url }}" alt="{{ image.annonce.title }}">
                        </a>
                        <!-- Formulaire pour supprimer l'image -->
                        <form action="{% url 'delete_photo' image.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" >supprimer l'image</button> <!-- Icône de suppression -->
                        </form>
                    </div>
                {% endfor %}
            </div>
            <form action="{% url 'delete_annonce' annonce.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Supprimer annonce</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
